/*dice starting*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 130vh;
    background-color: rgb(0, 0, 0);
    background-size: 100% 50%;
}

.data {
    width: 1000px;
    padding: 50;
    padding-bottom: 50;
    border: 1px solid black;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 20%;
    left: 50%;
    background-color: rgb(0, 0, 0);
    box-shadow: 0 15px 35px rgba(112, 106, 106, 0.582);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 400px;
    padding: 50;
    padding-bottom: 50;
    border: 1px solid rgb(158, 0, 0);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 90%;
    left: 50%;
    background-color: rgb(0, 0, 0);
    box-shadow: 0 15px 35px rgba(112, 106, 106, 0.582);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dice {
    width: 90%;
    display: flex;
    justify-content: space-around;
}

p {
    color: rgb(158, 0, 0);
    font-size: 30px;
    margin: 30px 0;
    font-weight: 500;
}

h2 {
    color: rgb(34, 33, 33);
    font-size: 30px;
    margin: 30px 0;
    font-weight: 500;
    font-display: center;
}

button {
    background-color: rgb(158, 0, 0);
    border: none;
    outline: none;
    bottom: 20px;
    color: rgb(0, 0, 0);
    padding: 15px 0;
    width: 150px;
    margin-bottom: 20px;
    letter-spacing: 1px;
    border-radius: 10px;
}

.shake {
    animation: shake 0.5s infinite;
}

@keyframes shake {
    0% {
        transform: rotate(360deg);
    }
    50% {
        transform: rotate(-8deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}


/*Dice ending*/


/*header*/

.circle {
    color: rgb(158, 0, 0);
    align-items: center;
    margin: auto;
    width: 350px;
    height: 300px;
    line-height: 250px;
    border-radius: 70%;
}

.circle1 {
    margin-left: auto;
    width: 250px;
    height: 250px;
    line-height: 250px;
    border-radius: 50%;
}

.circle2 {
    margin-right: auto;
    width: 250px;
    height: 250px;
    line-height: 250px;
    border-radius: 50%;
}

.Hassaan h1,
h2 {
    color: rgb(158, 0, 0);
}

.hassan {
    width: 250px;
    clip-path: circle();
}

.shaher {
    width: 250px;
    clip-path: circle();
}

.shaheer {
    color: rgb(158, 0, 0);
}

.heading {
    font-size: 30px;
}

.home {
    background-color: rgb(158, 0, 0);
    border: none;
    outline: none;
    bottom: 20px;
    color: rgb(0, 0, 0);
    padding: 15px 0;
    font-size: 16px;
    width: 150px;
    margin-top: -30px;
    margin-bottom: 10px;
    margin-left: 250px;
    letter-spacing: 1px;
    border-radius: 10px;
}

.dicebtn {
    background-color: rgb(158, 0, 0);
    border: none;
    outline: none;
    bottom: 20px;
    color: rgb(0, 0, 0);
    font-size: 16px;
    padding: 15px 0;
    width: 150px;
    margin-top: -30px;
    margin-bottom: 10px;
    margin-left: 100px;
    letter-spacing: 1px;
    border-radius: 10px;
}